@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #335384;
    --secondary-color: #5ba7d1;
    --main-background: #cecece;
  }
}

body {
  background: var(--main-background);
  color: #000;
  font-family: 'Oswald', sans-serif;
  max-height: 860px;
  height: 100%;
}

#root {
  height: 100%;
}
