@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #7BB9DC;
    --secondary-color: #5ba7d1;
    --main-background: #E6EBEF;
    --sidebar-background: #CBD5DC;
  }
}

body {
  background: var(--main-background);
  color: #000;
  font-family: 'Oswald', sans-serif;
  height: 100%;
}

#root {
  height: 100%;
}
